<div class="panel panel-default">
    <div class="panel-body">
        <p> We have recived your message and will respond to you as soon as we can. Thank you! </p>
        <p> <%= link_to 'Home', static_pages_landing_page_path%> </p>
    </div> <!-- panel-body -->
</div> <!-- panel -->