// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-header {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: left;
    color: #fff;
    padding-bottom: 15px;
    text-align: center;
}

.row {
    padding-bottom: 10px;
}

.table-content {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    text-align: center;
}