// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 50px; /* bottom = footer height */
    background-color: #f79f79;
}

.navbar {
    background-color: #87b6a7;
    border: none !important;
    color: #fff;
}

h1 {
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 3em;
	color: #e3f09b;
	text-align: center;
}

h2 {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
}



#main-image {
    padding-top: 15px;
    padding-bottom: 15px;
}

img {
    border-radius: 50%;
}
 


footer {
    font-family: Helvetica, sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #87b6a7;
    color: #fff;
}

.copyright {
	display: inline-block;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
}

.form-group {
    color: gray; 
}

 /* Registration Page */ 

 #sign_up_page {
   background-color: #87b6a7;
   padding-top: 10px;
   border-radius: 10px;
 }

 /* Forgot Password Page */

 #forgot-password {
   background-color: #87b6a7;
   padding-top: 10px;
   border-radius: 10px;
 }

/* Sign in Page */

 #sign_in_page {
   background-color: #87b6a7;
   padding-top: 10px;
   border-radius: 10px;
 }
 
 #remember_me {
     color: #fff;
 }
 
 /* Show Products Page */
 
/* .productbox {
    background-color: white;
    height: 300px;
    width: 600px;
    padding-top: 1%;
    padding-left: 3%;
    margin-left: 30%;
    clear: left;
}

*/

 .productbox {
    margin: auto;
    height: auto;
    width: 50%;
    padding: 10px;
    background: white !important;
    overflow: hidden;
    border-style: solid;
    border-width: 1em;
    border-color:  #87b6a7;
 }   

#productdetails {
    float: right;
    width: 60%;
    margin-right: 5%;
	font: 2em;
	margin-top: 2%;
	color: #6D7276;
}

#productimage {
    float: left;
    width: 20%;
	display: inline-block;
	margin-top: 2%;
	border-radius: none;
}